.header {
    padding: 20px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            @media screen and (max-width: 992px) {
            display: none;
        }
    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__nav {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 32px;
        .menu__item {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #373F41;
            transition: ease-in-out 300ms;
            &:hover {
                color: #085298;
            }
        }
    }
}