.Slider {
    height: 630px;
    margin: 0 auto;
    @media screen and (max-width:1200px) {
        height: 530px;
    }
    @media screen and (max-width:992px) {
        height: 430px;
    }
}

.sliderItem {
    position: relative;
    height: 100%;
    width: 100%;
    .sliderItem__text {
        color: #fff;
        position: absolute;
        object-fit: cover;
        width: 100%;
        top:50%;
        transform: translate(0, -50%);
        // @media screen and (max-width: 540px) {
        //     top: 20px;
        //     transform: translate(0,0);
        // }
    }
    .subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 18px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        margin-bottom: 16px;
        @media screen and (max-width: 992px) {
            font-size: 1.1rem;
            line-height: 1;
        }
    }
    .title {
        font-weight: 700;
        font-size: 50px;
        line-height: 56px;
        letter-spacing: 0.2px;
        max-width: 498px;
        @media screen and (max-width: 992px) {
            font-size: 2.3rem;
            line-height: 1;
        }
        @media screen and (max-width: 767px) {
            font-size: 2rem;
        }
    }
}

.swipePrev {
    position: absolute;
    left: 3%;
    top:50%;
    transform: translate(0, -50%);
    z-index: 3;
}

.swipeNext {
    position: absolute;
    right: 3%;
    top:50%;
    transform: translate(0, -50%);
    z-index: 3;
}